RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCOnd %{REQUEST_FILENAME} !-f
RewriteCOnd %{REQUEST_FILENAME} !-d

#otherwise forward it to index.php
RewriteRule . index.php